/* Polices*/

@font-face {
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url("../polices/ballpark.ttf"), 
    url("../polices/ballpark.woff"), 
    url("../polices/dayrom.svg");
    font-style: normal;
    font-weight: normal;
        
}
@font-face {
    font-family: "dayrom";
    src: url("../polices/dayrom.eot");
    src: url("../polices/dayrom.ttf"), 
    url("../polices/dayrom.woff");
    font-style: normal;
    font-weight: normal;
}

/* Général*/
body{
    background: url("../images/fond_jaune.png");
    font-family: "Trebuchet", "Arial", "sans-sérif";
    color: #181818;
}
#block-page{
    width: 900px;
    margin: auto;
}
/*Header*/
header{
    display: flex;
    border: 1px solid #ff000f;
}
#logo {
  display: flex;
}
