/* element géneraux de la page*/

@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.ttf');
}


body{
    background: url("../images/fond_jaune.png");
    font-family: "Trebuchet", "Arial", "sans-sérif";
    color: #181818;
}
#block-page{
    width: 900px;
    margin: auto;
}
header{
    display: flex;
    border: 1px solid black;
}
header h1{
    align-items: flex-end;
    border: black solid 1px;
}
h2{
    
    border: 1px solid black;

}